body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
input{
    padding:10px;
}
button{
    padding: 12px;
}
.delete-btn{
    background-color: rgb(201, 0, 0);
    color: white;
    width: 80px;
    border: 0;
}
.delete-btn:hover{
    cursor: pointer;
    background-color: white;
    border: 0.2px solid rgb(201, 0, 0);
    color: rgb(201, 0, 0);
    width: 100px;
    transition-duration: 0.5s;
}
.delete-btn:active{
    background-color: rgb(201, 0, 0);
    color: white;
}
.add-btn{
    background-color: green;
    color: white;
    width: 80px;
    border: 0;
}
.add-btn:hover{
    cursor: pointer;
    background-color: white;
    border: 0.2px solid green;
    color: green;
    width: 100px;
    transition-duration: 0.5s;
}
.add-btn:active{
    background-color: green;
    color: white;
}
.resetTasks{
    background-color: rgb(0, 8, 255);
    color: white;
    width: 80px;
    border: 0;
}
.resetTasks:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 0.2px solid rgb(0, 8, 255);
    color: rgb(0, 8, 255);
    width: 100px;
    transition-duration: 0.5s;
}
.resetTasks:active{
    background-color: rgb(0, 8, 255);
    color: white;
}
.tasking{
    display: flex;
    width: 490px;
    margin-left: 5px;
    justify-content: space-between;
}