.Subscribe{
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    padding: 10px;
    color: white;
    border-width: 0;
    width: 120px;
}
.Subscribe:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(255, 0, 0);
    border-color: black;
    border-width: 0.5px;
    transition-duration: 0.3s;
}
.Subscribe:active{
    background-color: rgb(255, 0, 0);
    color: white;
}
.cal-btn{
    height: 35px;
    width: 80px;
    background-color: green;
    color: white;
    border-color: green;
    border-width: 0.5px;
}
.cal-btn:hover{
    background-color: white;
    color:green;
    border-color: green;
    border-width: 0.5px;
}
.cal-btn:active{
    background-color: green;
    color: white;
}